<!DOCTYPE html> 
<html>
    {% load static %}
<head>
    {% block head %}
    <title>EasyWord</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="{% static 'flashcards/images/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'flashcards/bootstrap-5.3.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'flashcards/main.css' %}">
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg bg-info-subtle">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'flashcards:index' %}">EasyWord</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <ul class="nav nav-underline">
                <li class="nav-item">         
                    <a class="nav-link{% if request.path == '/dictionary/' %} active{% endif %}" aria-current="page" href="{% url 'flashcards:dictionary' %}">Словник</a>                          
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'flashcards:learn' %}">Вчити</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Повторити</a>
                </li>
                {% endif %}
              </ul>
            </ul>
            {% if user.is_authenticated %}
              <a class="btn btn-outline-primary" href = "{% url 'flashcards:logout_user' %}">Вийти</a>
            {% else %}
              <a class="btn btn-outline-primary" href = "{% url 'flashcards:login' %}">Увійти</a>
            {% endif %}
            
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block js %}
    <script src="{% static 'flashcards/bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}
</body>
</html>